<%- include("../partials/header") %>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h3><%= user.firstName + " " + user.lastName %></h3>
            <img class="img-responsive" src="<%= user.avatar %>">
            <p>First Name: <strong><%= user.firstName %></strong></p>
            <p>Last Name: <strong><%= user.lastName %></strong></p>
            <p>email address: <a href="mailto<%= user.email %>"><strong><%= user.email %></strong></a></p>
        </div>
        <div class="col-md-8">
            <div class="caption">
                <h3><%= user.username %>'s campgrounds:</h3>
                <ul>
                    <% campgrounds.forEach(function(campground) { %>
                        <li><a href="/campgrounds/<%= campground.id %>"><%= campground.name %></a></li>
                    <% }); %>
                </ul>
            </div>
        </div>
    </div>
</div>

<%- include("../partials/footer") %>